/************************ STYLES GENERAUX  ************************/
html {
  width: 100%;
  margin: 0;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  width: 100%;
}

/* header */
.style-header {
  width: 95%;
  height: 68px;
  gap: 0px;
  opacity: 0px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 25px;
}
.logo {
  width: 40%;
}
.nav {
  width: 50%;
}
.nav-header,
li {
  opacity: 0px;
  list-style: none;
  display: flex;
  justify-content: space-around;
  padding: 5px;
}
.nav-header li a {
  text-decoration: none;
  color: #000;
}
.nav-header li a.active {
  text-decoration: underline;
}

/* footer */
.style-footer {
  width: 100%;
  height: auto;
  min-height: 250px;
  gap: 0px;
  opacity: 0px;
  background-color: black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  z-index: 1000;
}
.logo_footer {
  margin-bottom: 30px;
}
.copyRight_footer {
  margin-bottom: -35px;
}
.banniereCopyRight {
  color: white;
}

/* HomeSubHeaderSection */
.style_section {
  display: flex; 
  justify-content: center; 
  align-items: center;
  width: 95%; 
  height: 150px; 
  margin: auto;
  background-image: url('./assets/background_section.png');
  background-size: cover;
  background-repeat: no-repeat;
  margin-top: 15px;
  border-radius: 15px; 
  overflow: hidden; 
}
.imgSection {
  max-width: 100%;
  max-height: 100px;
  border-radius: 10px;
}

/* Gallery */
.bodyGallery {
  background-color: #F6F6F6;
  border-radius: 10px;
  margin: auto;
  width: 95%;
  margin-bottom: 10px;
}
.thumb-container {
  margin-top: 10px;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1px;
}
.thumb {
  width: 350px;
  height: 350px;
  position: relative;
  margin: auto;
  top: 5px;
  gap: 0px;
  opacity: 0px;
  border: 1px solid #000000;
  margin-bottom: 10px;
  border-radius: 25px;
}
.thumb p {
  color: white;
  position: absolute;
  bottom: 5px;
  left: 0;
  margin: 10px;
}

/* Collapse */
.collapse {
  display: flex;
  border-radius: 10px;
  margin: auto;
  flex-wrap: wrap;
  width: 90%;
  align-items: flex-start;
  position: relative;
  margin-top: 10px;
  padding: 0;
}
.barreCollapse {
  display: flex;
  justify-content: space-between;
  padding: 13px 20px 13px 18px;
  background: #FF6060;
  color: white;
  border-radius: 10px;
  width: 100%;
  margin: 0;
}
.vector {
  width: 25px;
  height: 17px;
  transform: rotate(0deg);
  transition: 2s ease-in;
} 
.vector.rotation.rotate {
  transform: rotate(-180deg); 
  transition: 2s ease-in;
}
.collapseToggle.animated.expanded {
  max-height: 1000px; 
  margin-top: 0; 
  transition: max-height 0.5s ease-out, margin-top 0.5s ease-out; 
}
.collapseToggle {
  display: flex;
  justify-content: center;
  align-content: center;
  margin-top: 0;
  overflow: hidden;
  max-height: 0;
  transition: max-height 0.5s ease-out, margin-top 0.5s ease-out; 
}
.container {
  background-color: #F6F6F6 ;
  width: 100%;
  border-radius: 10px;
}
.container li {
  justify-content: flex-start;
}

.collapseToggle.animated.expanded .container {
  animation: slidein 0.5s ease;
  margin-top: 0;
}
.textCollapse {
  position: relative; 
  z-index: 1; 
}
.textCollapse, .collapseToggle.animated.expanded {
  animation-duration: 2s;
  animation-name: slidein;
}
.textCollapse, .collapseToggle {
  width: 100%;
  height: 20vh;
  margin-bottom: 10px;
}
@keyframes slidein {
  from {
    margin-top: -10px; 
    opacity: 0; 
  }
  to {
    margin-top: 0;
    opacity: 1;
  }
}
@keyframes slideout {
  from {
    margin-top: 0;
    opacity: 1;
  }
  to {
    margin-top: -10px; 
    opacity: 0; 
  }
}

/* NotFound */
.style-pageErreur {
  text-align: center;
  margin: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.style-pageErreur img {
  padding: 30px;
}
.style-pageErreur p {
  color: #FF6060;
}
#page_404 {
  width: 25%;
  height: 25%;
}
.oupsErrorMobile {
  display: none;
}
.oupsErrorPc {
  display: block;
}
#page_inexistante {
  width: 30%;
}
#retour_page_accueil {
  width: 50%;
}

/* apartment */
/* CAROUSEL */
#apartment {
  width: 100%;
  margin: 0;
}
#imgAndLocation {
  width: 100%;
}
.image-container {
  position: relative;
  width: 95%; 
  margin: auto;
  height: auto; 
  overflow: hidden;
}
.image-container img {
  width: 100%;
  height: 550px;
  display: block;
  margin: auto;
  }
.carousel-button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  z-index: 1;
}
.previous, .next {
  width: 5%; 
  height: auto; 
}
.previous {
  left: 2%;
}
.next {
  right: 2%;
}
.image-counter {
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
  color: white; 
  padding: 5px 10px;
  border-radius: 5px;
}
.imgCover {
  width: 100%;
  height: auto;
  margin: auto;
}
.imgSection {
  max-width: 100%; 
  max-height: 100px; 
  border-radius: 10px; 
}

/************************ RESPONSIVE MOBILE  ************************/
@media only screen and (max-width: 600px) {
  .logo {
    width: 35px;
    display: flex;
    flex-direction: row;
    margin: 5px;
  }
  .banniereCopyRight {
    align-items: center;
    text-align: center;
    margin: 0 auto;
    width: 150px;
    height: 50px;
  }
  .style_section {
    flex-direction: column;
    color: white;
    margin-bottom: 10px;
    align-items: flex-start;
    justify-content: center;
  }
  .style_section p {
    font-size: large;
    font-weight: bold;
    padding-bottom: auto;
    margin-bottom: 5px;
  }
  #messageChezVous,
  #messagePartout {
    margin: 0.2em; 
  }
  #thumb-container, .thumb-container {
    margin: 0;
    width: 100%;
    grid-template-columns: repeat(1, 1fr);
  }
  .collapse {
    flex-direction: row; 
    margin-bottom: 5px;
  }
  .oupsErrorMobile {
    display: block;
  }
  .oupsErrorPc {
    display: none;
  }
  #apartment, #imgAndLocation {
    width: 100%;
    margin: 0;
  }
  .image-container img {
    width: 100%;
    height: 220px;
    display: block;
    margin: auto;
  }
  #imageCounterDesktop {
    display: none;
   }
  #apartmentCollapse {
    flex-direction: column;
  }
  .imgCover {
    width: 100%;
    height: auto;
    margin: auto;
  }
  #tags, #nameRating {
    width: 90%;
    margin: auto;
    text-align: center; 
  }
  .titleApartment, .locationApartment {
    color: red;
    text-align: left;
  }
  .locationApartment {
    color: black;
    font-weight: bold;
  }
  .apartmentTags {
    display: flex;
    flex-direction: row;
    text-align: center;
    height: auto;
  }
  .apartmentTags span {
    background-color: #FF6060;
    padding: 5px; 
    margin-right: 5px;
    display: inline-block; 
    color: white;
    border-radius: 5px;
    font-size: smaller;
  }
  #nameRating {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    margin: 15px;
  }
  #name {
    display: flex;
    flex-direction: row;
  }
  .imgName {
    border-radius: 50%;
    width: 60px;
    height: 60px;
    padding: 10px;
  }
}

/************************ DESKTOP RESPONSIVE  ************************/
@media only screen and (min-width: 601px) {
  .style_section p{
    color: white;
    text-align: center;
    font-size: 200%;
    font-weight: bold;
  }
  #apartmentCollapse {
    display: flex;
    flex-direction: row;
    width: 100%;
    margin: 0;
  }
  #collapseDescription {
    width: 50%;
  }
  #collapseEquipements {
    width: 50%;
  }
  .apartmentTags span {
    background-color: #FF6060;
    padding: 10px; 
    margin-right: 20px;
    display: inline-block; 
    color: white;
    border-radius: 5px;
  }
  .bodyApartment {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 40px;
  }
  #nameRating {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 15px;
  }
  #name {
    display: flex;
    flex-direction: row;
  }
  .imgName {
    border-radius: 50%;
    width: 40%;
    height: 80%;
    padding: 10px;
  }
}